<%#
Copyright 2011-2018, The Trustees of Indiana University and Northwestern
  University.  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.

You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed
  under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
  CONDITIONS OF ANY KIND, either express or implied. See the License for the
  specific language governing permissions and limitations under the License.
---  END LICENSE_HEADER BLOCK  ---
%>

<div class="custom-header" id="masthead">

  <div class="row">
    <div class="row-fluid whitespace-half">
    <header>

      <div class="lib-logo col-sm-5 hidden-xs">
        <%= link_to("", "https://library.ualberta.ca", :class => 'logo row block') %>
        <%= link_to t('ualberta.era_home'), "https://era.library.ualberta.ca", :class => "era-link row block btn" %>
      </div>

      <div class="mast-branding col-sm-4">
        <%= link_to root_path do %>
          <%= image_tag("/assets/ERA-AV-logo.png",
                        alt: "#{t('ualberta.era_av_full')} "\
                        "- #{t(:release_label)} #{Avalon::VERSION}") %>
        <% end %>
      </div>

      <%# By default shift log in / log out to the header %>
      <div class="col-sm-3">
        <%= render partial: "modules/user_util_dropdowns"%>
      </div>
    </header>
    </div>
  </div>

</div>
